<link href="brian.css" rel="stylesheet" type="text/css" />
	<link href="css/site.css?v=1.0.3" rel="stylesheet" type="text/css" />
		
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>


<body><div class="root" style="width: 1003px; height: 1238px;"><div class="vbox wb_container" id="wb_header" style="height: 330px; background: transparent none repeat scroll left top;">

	

<div id="wb_element_instance60" class="wb_element" style="left: 600px; top: 0px; width: 400px; height: 100px; min-width: 400px; min-height: 100px; z-index: 386;"><script type="text/javascript">
				$(function() {
					$("#wb_element_instance60").children("ul").children().each(function() {
						if ($(this).children("ul").size() == 0) return;
						$(this).hover(function() {
							$(this).children("ul").css({display: "block"});
						}, function() {
							$(this).children("ul").css({display: "none"});
						});
					});
				});
			</script><ul class="hmenu"><li><a href="Home/" target="_self" title="Home">Home</a></li><li><a href="Portfolio/" target="_self" title="Portfolio">Portfolio</a><ul><li class="active"><a href="2D/" target="_self" title="2D">2D</a></li><li><a href="3D/" target="_self" title="3D">3D</a></li><li><a href="Games/" target="_self" title="Games">Games</a></li></ul></li><li><a href="Contact/" target="_self" title="Contact">Contact</a></li></ul></div><div id="wb_element_instance61" class="wb_element" style="left: 10px; top: 110px; width: 246px; height: 150px; min-width: 246px; min-height: 150px; z-index: 174;  line-height: normal;"><p style="text-align: justify;"> </p>

<h4 class="wb-stl-pagetitle" style="text-align: center;">Brian</h4>

<p> </p>

<h5 class="wb-stl-subtitle" style="text-align: center;">Tam</h5>
</div>

    <div id="wb_element_instance62" class="wb_element" style="left: 10px; top: 60px; width: 260px; height: 260px; min-width: 260px; min-height: 260px; z-index: 173;">
        <div style="background: #1389ff; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 260px; height: 260px;">
        </div>
    </div>

    <div id="wb_element_instance63" class="wb_element" style="left: 30px; top: 200px; width: 215px; height: 24px; min-width: 215px; min-height: 24px; z-index: 175;">
        <div style="font-size: 1px; overflow: hidden; line-height: 1px; padding: 0; background: transparent; float: none; position: relative; margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #ffffff;">
        </div>
    </div>

</div>