---
layout: page
title: Wiccan
description: Wiccan
extra_css: /assets/css/projects.css

images: [[Wiccan-01blockout,],
		[Wiccan-02faceProgression],
		[Wiccan-03refinement],
		[Wiccan-04eyesAndHair],
		[Wiccan-05headbandClothes]
		]
---
{% include JB/setup %}

{% assign images_prefix = "/assets/images/2D/Wiccan/" %}


<div class="projects-grid" id="slideshow" style="text-align: center;">
	<a href="{{images_prefix}}/Wiccan.png">
		<img src="{{images_prefix}}/Wiccan.png">
	</a>
    {% for img in page.images %}
        <a href="{{images_prefix}}{{img[0]}}.png" class="btn btn-default project-container">
            <img src="{{images_prefix}}{{img[0]}}.png" class="img-responsive" alt="{{img[1]}}">
        </a>
    {% endfor %}
</div>

<script>
    $('#slideshow').photobox('a', {history:false, time:0, counter:false});
</script>
