---
layout: page
title: 3D Projects
description: 3D Projects
group: navigation
permalink: projects/3d/
extra_css: /assets/css/projects.css

images: [[kwah-action, Kwah - action shot. Modeled & rendered with Maya.],
		[kwah, Kwah turn around. Modeled & rendered with Maya.],
		[perrystilllife, Still life - Perry's friends. Modeled & rendered with Maya.],
		]
---
{% include JB/setup %}

<div class="projects-grid">
    {% for post in site.tags.3D %}
    {% unless post.categories contains "blog" %}
        <a href="{{ post.url }}" class="btn btn-default project-container" title="{{ post.title }}: {{ post.tagline }}">
            <div class="project-title">{{ post.title }}</div>
            <img src="/assets/images/tiles/{{ post.title }}.png" class="title-summary img-responsive" alt="{{ post.title }}">
        </a>
    {% endunless %}
    {% endfor %}
</div>

{% assign images_prefix = "/assets/images/3D/" %}

<div class="projects-grid" id="slideshow" style="text-align: center;">
    {% for img in page.images %}
        <a href="{{images_prefix}}{{img[0]}}.png" class="btn btn-default project-container">
            <img src="{{images_prefix}}{{img[0]}}-tn.png" class="img-responsive" alt="{{img[1]}}">
        </a>
    {% endfor %}
</div>

<script>
    $('#slideshow').photobox('a', {history:false, time:0, counter:false});
</script>

<br><br>

